#jumbo {
    width: 100vw;
    height: 600px;
    background-image: url("../../images/mobile/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    #jumbo {
        background-image: url("../../images/desktop/image-header.jpg");
    }
}

@media screen and (min-width:1440px) {
    #jumbo {
        width: 1440px;
    }
}